@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-Light;
    src: url(../fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
    font-family: NothingYouCouldDo-Regular;
    src: url(../fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf);
}

$navHeight: 80px;
$colorY: #fac564;