nav {
    z-index: 100;
    width: 100%;
    height: $navHeight;
    padding: 8px 16px;
    background-color: #121618;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 90px;
            display: flex;
            flex-direction: column;

            span {
                font-family: JosefinSans-Regular;

                &:first-of-type {
                    display: flex;
                    justify-content: space-around;
                    align-items: baseline;
                    width: 100%;
                    color: #fff;
                    font-size: 24px;
                    text-transform: capitalize;

                    &::before {
                        content: '';
                        display: block;
                        background-repeat: no-repeat;
                        background-size: 100%; 
                        background-image: url('../images/mycollection/png/004-pizza-logo.svg');
                        width: 24px;
                        height: 24px;
                    }
                }

                &:last-of-type {
                    color: $colorY;
                    text-transform: uppercase;
                    font-size: 11px;
                    letter-spacing: 4px;
                }
            }
        }

        .navbar {
            a {
                padding: 24px 20px;
                color: rgba(255, 255, 255, .87);
                text-transform: capitalize;
                font-size: 14px;

                &:hover {
                    color: $colorY;
                }
            }
        }
    }
}